name: Release Please

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  github-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write

    steps:
      - uses: google-github-actions/release-please-action@v4
        with:
          command: github-release
          token: ${{ secrets.GITHUB_TOKEN }}
